<!DOCTYPE html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap core CSS -->
    <link href="static/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/main.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  </head>

  <body class="text-center" id="body">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
       <header class="masthead mb-auto">
         <div class="inner">
           <a href="/"><h3 class="masthead-brand" id="title">GDrive Analytics</h3></a>
           <nav class="nav nav-masthead justify-content-center">
             <a class="nav-link transition" href="/" id="home">Home</a>
             <a class="nav-link transition" href="/contacts" id="contact">Contact</a>
           </nav>
         </div>

       </header>

       <main role="main" class="inner cover">
       </main>

       <footer class="mastfoot mt-auto">
         <div class="inner" id="foot">
           <p>Made by <a href="https://github.com/Barahlush" id="git">Barahlush</a>.</p>
         </div>
       </footer>
     </div>

     <script src="static/leave_wight.js"></script>

  </body>
</html>
