<!DOCTYPE html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap core CSS -->
    <link href="static/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/main.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  </head>

  <body class="text-center" id="body">


    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
       <header class="masthead mb-auto">
         <div class="inner">
           <a href="/"><h3 class="masthead-brand">GDrive Analytics</h3></a>
           <nav class="nav nav-masthead justify-content-center">
             <a class="nav-link active" href="/" id="home">Home</a>
             <a class="nav-link" href="/contacts" id="contact">Contact</a>
           </nav>
         </div>
       </header>

       <main role="main" class="inner cover" id=main>
         <h1 class="display-4 page-header">Google Drive Analytics</h1><br>
         <p class="lead"><h2>We will analyze your drive and find it's weak places.</h2></p>
         <br><br><br>
         <p class="lead">
           <a href="/analytics" class="btn btn-lg btn-secondary transition" id="start">Analyze!</a>
         </p>
       </main>


       <footer class="mastfoot mt-auto">
         <div class="inner" id="foot">
           <p>Made by <a href="https://github.com/Barahlush">Barahlush</a>.</p>
         </div>
       </footer>
     </div>

     <script src="static/transitwb.js"></script>
     <script src="static/w_to_b.js"></script>
  </body>
</html>
